


/* Function */
*{
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 75%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: aqua;
}
header{
    background-color: lightpink;
    border: 10px solid grey;
    border-radius: 10px;
}
main{
    
    background-color: lightpink;
    border: 10px solid grey;
}

/* Rule example */ 
p{
 color: rgb(204, 30, 189);
}
/* Class */
.paragraph{
    color: aquamarine;
}

/* id */
#welcome{
    color: greenyellow;
}

video{
    width: 550px;
    
}
.image{
    width: 550px;
}



/* class nav*/

.landing-page-nav{
    list-style: none;
    height: inherit;
}

.landing-page-nav__item{
    padding: 20px 0px;
    display: inline-block;
}

.landing-page-nav__item a{
    color: rgb(209, 111, 100);
    text-decoration: none;
    background-color: aquamarine;
    font-weight: bolder;
    font-size: 150%;
    padding: 10px 25px;
    border-radius: 10px;

}

.landing-page-nav__item a:hover{
    color: blue;
}

.landing-page-nav__item a:active{
    color: red;
}

.landing-page-nav__item a::after{
    content: " | ";
    color: brown;
}